<style>
  .product-card--{{ product.id  }}:hover .product-card__image {
  background-image: url({{ product.featured_image | product_img_url: 'large' }});
} 
</style>

<div
  class="showcase__product product-card product-card--{{ product.id }}"
>
  <div class="product-card__image"></div>
  <div class="product-card__title">
    {{ product.title | link_to: product.url }}
  </div>
  <div class="product-card__price">
    {{ product.price | money }}
  </div>
</div>