<html>
	<head>
		{{ content_for_header }}
		{{ 'style.css' | asset_url | stylesheet_tag }}
		{{ 'button.css' | asset_url | stylesheet_tag }}

		<script src="{{ 'script.js' | asset_url }}" defer></script>
		<script src="{{ 'feature-product-script.js' | asset_url }}" defer></script>

		<style> 
			@import url(
				'https://fonts.googleapis.com/css2?family=Tomorrow:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap'
				);
			@import url(
				'https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap'
				);
		</style>

		<link
			rel="shortcut icon"
			href="{{ 'overview-flag-logo.png' | asset_img_url }}"
			type="image/x-icon"
		>

		<title>{{ shop.name }}</title>

	</head>

	<body class="body">
		{{ content_for_layout }}
	</body>
</html>