{{ 'feature-product.css' | asset_url | stylesheet_tag }}
{{ 'point.css' | asset_url | stylesheet_tag }}

<section class="feature-product section-margins">
  <div class="section__title">
    <h2 class="title--small">{{ 'sections.feature-product.title' | t }}</h2>
  
    <div class="showcase__pluses-wrapper">
      {% for i in (1..5) %}
        <div class="showcase__plus">
        </div>
      {% endfor %}
    </div>
  </div>

  <div
    class="feature-product__product feature-product--js"
    data-block-size="{{ section.blocks.size }}"
  >
    <div
      class="feature-product__image"
    >
      {% if section.blocks != blank %}
        {% for block in section.blocks %}
          <div
            class="point opacity-delay--{% increment  delay-point-id %} %}"
            style="top: {{ block.settings.y_position }}%; left: {{ block.settings.x_position }}%"
            data-connect="{% increment point-id %}"
          >
          </div>
        {% endfor %}  
      {% endif %}
    </div>

    <svg class="feature-product__connect-lines" shape-rendering="geometricPrecision">
    </svg>

  
    {% if section.blocks != blank %}
      <div class="feature-product__hints">
        {% for block in section.blocks %}
          <div
            class="feature-product__hint hint opacity-delay--{% increment  delay-hint-id %}"
            data-connect="{% increment hint-id %}"
          >
            {{ block.settings.description }}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>

  <div class="feature-product__button-wrapper">
    <button class="button button--feature-product">
    <span class="button__text">{{ 'sections.feature-product.button.text' | t }}</span>
    <div class="button__arrow"></div>
  </button>
  </div>
</section>

{% schema %} 
  {
    "name":"feature-product",
    "tag":"section",
    "class":"section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ],
    "blocks": [
      {
        "name": "Point",
        "type": "point",
        "settings": [
          {
            "type": "range",
            "id": "x_position",
            "label": "Position by X",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "default": 0
          },
          {
            "type": "range",
            "id": "y_position",
            "label": "Position by Y",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "default": 0
          },
          {
            "type": "richtext",
            "id": "description",
            "label": "Description"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Points",
        "blocks": [
          {
            "type": "point"
          },
          {
            "type": "point"
          },
          {
            "type": "point"
          }
        ]
      }
    ]
  }
{% endschema %}