{{ 'feature.css' | asset_url | stylesheet_tag }}

<section class="feature">
  <div class="feature__content">
    <div class="feature__video-wrapper">
      <video
        class="feature__video"
        autoplay
        muted
        loop
        preload="none"
      >
        <source src="{{ 'astronauts-in-city-park.mp4' | asset_url}}" type="video/mp4">
      </video>
    </div>


    <h2 class="feature__title">{{ section.settings.title }}</h2>

    <div class="feature__button-wrapper">
      <button class="button button--feature">
        <span class="button__text">{{ 'sections.feature.button.text' | t  }}</span>
        <div class="button__arrow"></div>
      </button>
    </div>
  </div>
</section>

{% schema %} 
  {
    "name":"feature-section",
    "tag":"section",
    "class":"section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Feature Title",
        "default": "SPACE RELATED QUOTE GOES RIGHT HERE"
      }
    ]
  }
{% endschema %}