{{ 'header.css' | asset_url | stylesheet_tag }}
{{ 'nav.css' | asset_url | stylesheet_tag }}

<header class="header">
  <div class="header__fixed-side">
    <a href="/" class="header__logo">
    </a>

    <nav class="header__nav nav">
      <div class="nav__item">
        <span class="nav__title nav__link">
          Shop
        </span>
      </div>
      <ul class="nav__list">
        {% for link in linklists.main-menu.links %}
          <li class="nav__item">{{- link.title | link_to: link.url, class: "nav__link" -}}</li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>

{% schema %} 
  {
    "name":"header",
    "tag":"header"
  }
{% endschema %}