{{ 'join-us.css' | asset_url | stylesheet_tag }}

<section class="join-us">
  <div class="join-us__running-line">
    <div class="running-line__first-half">
      <p class="join-us__marquee">
        {{- section.settings.marquee -}}
      </p>
      <p class="join-us__marquee">
        {{- section.settings.marquee -}}
      </p>
    </div>
    <div class="running-line__second-half">
      <p class="join-us__marquee">
        {{- section.settings.marquee -}}
      </p>
      <p class="join-us__marquee">
        {{- section.settings.marquee -}}
      </p>
    </div>
  </div>

  <div
    class="join-us__content"
  >
    {{ 'overview-flag-logo.svg' | asset_url | img_tag: "logo", "join-us__logo" }}
    <h2 class="join-us__title">
      {{ 'sections.join_us.title' | t }}
    </h2>

    <form
      action=""
      class="join-us__form"
      onsubmit="(event) => {event.preventDefault();}"
    >
      <input
        type="email"
        name="email"
        class="join-us__email"
        placeholder="{{ 'sections.join_us.form.email_placeholder' | t }}"
      >
      <button type="submit" class="join-us__submit-button">
        {{ 'sections.join_us.form.submit_button' | t }}
      </button>
    </form>
  </div>
</section>

{% schema %} 
  {
    "name":"join-us-section",
    "tag":"section",
    "class":"section",
    "settings": [
      {
        "type": "text",
        "id": "marquee",
        "label": "Text of running linq",
        "default": "overview"
      }
    ]    
  }
{% endschema %}