{{ 'overview.css' | asset_url | stylesheet_tag }}

<section class="overview section-margins">
  <div class="showcase__head section__title">
    <h2 class="showcase__title title--small">
      {{ 'sections.overview.title' | t }}
    </h2>

    <div class="showcase__pluses-wrapper">
      {% for i in (1..5) %}
        <div class="showcase__plus">
        </div>
      {% endfor %}
    </div>
  </div>

  {% if section.blocks != blank %}
    <div class="overview__cards-container">
      <style>
        .overview {
          --bg-opacity: {{ section.settings.bg_opacity }}
        }
      </style>
      {% for block in section.blocks %}
        
        <div class="overview__card overview__card--{{ block.id }}">
          {{- block.settings.bg_img | image_url | img_tag: "no-image", "overview__bg-image", "large" -}}
          <div class="overview__card--opacity"></div>
          <div class="overview__content">
             <div class="overview__card-text">
              <div class="overview__card-title">
                {{- block.settings.title -}}
              </div>
              <div class="overview__card-description">
                {{- block.settings.description -}}
              </div>
             </div>

            {% if block.settings.img != blank %}
              {{ block.settings.img | image_url | img_tag: "no-image", "overview__image", "large" }}
            {% endif %}
          </div>

          <div class="button-wrapper">
            <button class="button button--overview">
              <span class="button__text">{{ block.settings.button_text }}</span>
              <div class="button__arrow"></div>
            </button>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
</section>

{% schema %} 
  {
    "name":"overview-section",
    "tag":"section",
    "class":"section",
    "settings": [
      {
        "type": "range",
        "id": "bg_opacity",
        "label": "Background Opacity",
        "min": 0,
        "max": 1,
        "step": 0.1,
        "default": 0.8
      }
    ],
    "blocks": [
      {
        "type": "card",
        "name": "Card",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "placeholder": "Enter Your Title"
          },
          {
            "type": "richtext",
            "id": "description",
            "label": "Description"
          },
          {
            "type": "image_picker",
            "id": "bg_img",
            "label": "Background Image"
          },
          {
            "type": "text",
            "id": "button_text",
            "label": "Button Text"
          },
          {
            "type": "image_picker",
            "id": "img",
            "label": "Additional Image"
          }
        ]
      }
    ]
  }
{% endschema %}