{{ 'product-showcase.css' | asset_url | stylesheet_tag }}
{{ 'product-card.css' | asset_url | stylesheet_tag }}


<section class="showcase section-margins">
  <div class="showcase__head section__title">
    <h2 class="showcase__title title--small">
      {{ 'sections.showcase.showcase-title' | t }}
    </h2>

    <div class="showcase__pluses-wrapper">
      {% for i in (1..5) %}
        <div class="showcase__plus">
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="showcase__products-wrapper">
    {% for product in collections['frontpage'].products %}
      {% render 'product-card', product: product %}
    {% endfor %}
  </div>


</section>

{% schema %} 
  {
    "name":"showcase-section",
    "tag":"section",
    "class":"section"
  }
{% endschema %}