{{ 'video-section.css' | asset_url | stylesheet_tag }}

<section class="video-section">
  <video
    class="video-section__video"
    autoplay
    muted
    loop
    preload="none"
    poster="{{ 'earth-video-poster.jpg' | asset_img_url }}"
  >
    <source src="{{ 'Earth_rotation_desktop.mp4' | asset_url }}" type="video/mp4">
  </video>

  <div class="video-section__side">
    <div class="video-section__icons">
      <a class="icon icon--cart" href="/cart">
        {{ 'Cart.png' | asset_url | img_tag }}
      </a>
      <a class="icon icon--profile" href="/profile">
        {{ 'Profile.png' | asset_url | img_tag }}
      </a>
    </div>

    <h1 class="video-section__title">
      {{ section.settings.title | capitalize }}
    </h1>

    <div class="video-section__description">
      Products created for life on Earth with a deep respect for perspective of life.  

      Explore: Space
      Perpetuate: Scientific Discovery
      Wear: Overview
    </div>

    <div class="button-wrapper">
      <button class="button button--primary">
        <span class="button__text">{{ 'sections.video-section.buttons.primary.text' | t }}</span>
        <div class="button__arrow"></div>
      </button>

    <button class="button button--secondary">
        <span class="button__text">{{ 'sections.video-section.buttons.secondary.text' | t }}</span>
        <div class="button__arrow"></div>
      </button>
    </div>
  </div>
</section>

{% schema %} 
{
  "name":"video-section",
  "tag":"section",
  "class":"video-section",
  "settings":[
    {
      "type":"text",
      "id":"title",
      "label":"Title",
      "default":"FoR THE EXPLORERS IN US ALL"
    }
  ]
}
{% endschema %}