.button {
  box-sizing: content-box;
  width: 100%;

  padding: 0;  

  display: flex;

  border: 1px solid #000000;
  border-radius: 0.3rem;

  margin-bottom: 2rem;

  height: 4.5rem;

  text-transform: lowercase;

  background-color: transparent;

}

.button:hover {
  cursor: pointer;
}

.button__text {
  color: #fff;
  font-family: 'Space Mono';
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 2.2rem;

  letter-spacing: -0.03em;


  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 4.5rem;
}

.button--feature {
  border: 3px solid #EF392F;
}

.button--overview {
  border: 3px solid #fff;
}

.button--overview .button__text{
  background-color: transparent;
}

.button--primary .button__text{
  background-color: #EF392F;
}

.button--feature-product {
  border: 3px solid #fff;
}

.button--secondary .button__text{
  background-color: #000000;
}

.button--feature .button__text {
  background-color: transparent;
}

.button--feature-product .button__text {
  background-color: #EF392F;
}


.button__arrow {

  position: relative;
  background-color: #fff;
  background-image: url({{ 'arrow.svg' | asset_img_url }});

  background-position: center;
  background-repeat: no-repeat;

  transition: background-position .6s ease;

  flex-shrink:0;

  width: 4.5rem;
  height: 4.5rem;
}

.button__arrow::before {
  content: '';

  display: block;

  position: absolute;
  top: 0;
  left: 0;
  width: 4.5rem;
  height: 4.5rem;

  background-color: transparent;

  background-image: url({{ 'arrow.svg' | asset_img_url }});

  background-position: -10rem 50%;
  background-repeat: no-repeat;

  transition: background-position .6s ease;
}

.button:hover .button__arrow {
  background-position: 10rem 50%;
}

.button:hover .button__arrow::before {
  background-position: center;
}

.button--feature .button__arrow {
  background-color: #EF392F;
  background-image: url({{ 'arrow-white.svg' | asset_img_url }});
}

.button--feature .button__arrow::before {
  background-image: url({{ 'arrow-white.svg' | asset_img_url }});
}

.button--feature-product .button__arrow {
  background-color: transparent;
  background-image: url({{ 'arrow-white.svg' | asset_img_url }});

  border-left: 3px solid #fff;
}

.button--feature-product .button__arrow::before {
  background-image: url({{ 'arrow-white.svg' | asset_img_url }});
}