
.feature-product__product {
  position: relative;
  width: 100%;

  display: flex;
}

.feature-product__image {
  position: relative;
  flex-shrink: 0;

  width: 54rem;
  height: 67rem;

  background-image: url({{ 't-shirt.png' | asset_img_url: 'grande' }});
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.feature-product__hints {
  z-index: 2;

  right: 11rem;

  width: 31rem;
  height: min-content;

  align-self: center;

  font-family: 'Tomorrow';
  font-weight: 300;
  font-size: 2rem;
  line-height: 2.4rem;

  text-transform: uppercase;
  color: #FFFFFF;

  display: flex;
  flex-direction: column;

  gap: 2rem;
}

.feature-product__hint {
  border: 0.15rem solid #ef392f;
  margin: 0;
  padding: 1.5rem;
}

.feature-product__hint p {
  margin: 0;
}

.feature-product__connect-lines {
  position: absolute;
  width: 100%;
  height: 100%;
}

.feature-product__product * {
  transition: opacity .3s;
}

{% for i in (0..10) %}
.opacity-delay--{{i}} {
  transition: opacity .3s ease {{ i | times: 0.2 }}s;
}
{% endfor %}

.feature-product__button-wrapper {
  width: 17rem;
  margin-left: 30rem;
}