.header {
  position: fixed;
  left: 6rem;
  top: 6rem;

  display: flex;
  justify-content: space-between;

  z-index: 2;
}

.header__logo {
  cursor: pointer;
  display: block;
  width: 20rem;

  height: 2.5rem;

  background-image: url({{ 'Overview Logo.svg' | asset_img_url }});
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  margin-bottom: 6rem;
}

.header__fixed-side {
  position: sticky;

  top: 2.5rem;
}

.icon {
  position: relative;

  display: flex;

  justify-content: center;
  align-items: center;

  width: 2.4rem;
  height: 2.4rem;
}

.icon img {
  width: 100%;
  height: 100%;
}

.icon::after {
  content: '';

  display: block;
  position: absolute;

  background-color: #000;

  bottom: -0.2rem ;
  width: 0;
  height: 0.1rem;

  transition: width .3s;
}

.icon:hover::after {
  width: 100%;
}

