.nav {
  display: flex;

  flex-direction: column;
  gap: 1.2rem;

  font-family: 'Tomorrow';
  font-size: 1.2rem;
  line-height: 1.4rem;
  letter-spacing: 0.1em;
}

.nav__title {
  cursor: pointer;

  color: #fff;
}

.nav__list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;

  gap: 0.2rem;
}

.nav__item {
  width: min-content;
}

.nav__link {
  color: #fff;
  text-transform: uppercase;

  text-decoration: none;

  transition: color .3s;

  display: flex;

  width: min-content;

  padding: 0.3rem 0;
}

.nav__link::after {
  content: '';

  display: inline-block;

  background-image: url({{ 'arrow-red.svg' | asset_img_url }});
  background-repeat: no-repeat;
  background-position: center;

  opacity: 0;

  transition: opacity .3s;
}

.nav__item:hover .nav__link {
  cursor: pointer;

  color: #EF392F;
}

.nav__item:hover .nav__link::after {
  width: 1.4rem;
  height: 1.4rem;

  opacity: 1;
}