.point {
  width: 24px;
  height: 24px;

  display: inline-block;

  position: absolute;

  transform: translate(-50%, -50%);
  
  background-image: url(
    {{ 'Feature Selection.svg' | asset_img_url }}
  );

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
