.showcase__head {
  display: inline-flex;

  align-items: center;

  margin-bottom: 11rem;
}

.showcase__pluses-wrapper {
  display: inline-flex;

  gap: 9rem;

  margin-left: 8.8rem;
}

.showcase__plus {
  width: 2.4rem;
  height: 2.4rem;

  background-image: url({{ 'plus-grey.svg' | asset_img_url }});
  background-position: center;
  background-repeat: no-repeat;
}

.showcase__products-wrapper {
  display: flex;
  justify-items: center;
  gap: 7rem 4rem;
  flex-wrap: wrap;

  max-width: 120rem;
}

@media (min-width: 3840px) {
  .showcase__products-wrapper {
    max-width: 200rem;
  }
}