.product-card {
  position: relative;

  background-color: #fff;

  width: min-content;

  padding: 3.5rem 2rem 3rem;

  border-radius: 0.5rem;

  font-family: 'Space Mono';
  color: #000;
}

.product-card::after {
  content: '';

  position: absolute;
  top: 2rem;
  left: 2rem;

  display: block;
  width: 100%;
  height: 100%;

  z-index: -1;

  background-color: transparent;
  border-radius: 0.5rem;
  border: 0.1rem solid #fff;

  transition: background-color .6s, border .6s;
}

.product-card:hover {
  cursor: pointer;
}

.product-card:hover::after {
  background-color: #EF392F;
  border: 0.1rem solid #EF392F;

  transition: background-color .3s, border .3s;
}

.product-card__image {
  height: 30rem;
  width: 24rem;

  background-image: url({{ 't-shirt.png' | asset_img_url: 'large' }});
  background-size: cover;
  background-position: center;

  transition: background-image .3s;

  margin-bottom: 2.5rem;
}

.product-card__title {
  position: relative;

  font-size: 1.4rem;
  line-height: 1.4rem;
}

.product-card__title a {
  display: block;

  text-decoration: none;
  color: #000;
}

.product-card__title::after {
  content: '';

  position: absolute;
  right: 0;
  top: 50%;

  transform: translateY(-50%);

  display: block;
  width: 1rem;
  height: 1rem;

  background-image: url({{ 'product-card-title-icon.svg' | asset_img_url }});
  background-position: center;
  background-repeat: no-repeat;
}

.product-card__price {
  font-size: 1.1rem;
  line-height: 3.2rem;
}