* {
  box-sizing: border-box;
}

html {
  font-size: 5px;
}

@media (min-width: 640px) {
  html {
    font-size: 7px;
  }
}

body, h1 {
  margin: 0;
}

.body {
  background-color: #000;

  background-image: url({{ 'Base Grid.svg' | asset_img_url}});
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title--small {
  display: block;

  position: relative;

  margin: 0;
  white-space: nowrap;

  text-transform: uppercase;

  font-family: 'Tomorrow';
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 2.9rem;
  letter-spacing: 0.1em;

  color: #fff;

  width: min-content;
}

.title--small::after {
  content: '';

  display: block;
  width: 0.1rem;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -1rem;

  background-color: #fff;
}

.section-margins {
  margin: 6rem 6rem 0 40rem;
}

.section__title {
  position: relative;

  display: inline-flex;

  align-items: center;

  margin-bottom: 11rem;

  width: 100%;
} 
