{% section 'header' %}

<main>
  {% liquid 
  section 'video-section'
  section 'product-showcase'

  section 'feature'
  section 'feature-product'

  section 'overview'

  section 'join-us'
  %}
</main>

{% section 'footer' %}